@model string

@{
    var dramaName = ViewData["DramaName"];
}

<h1>一般予約一括登録</h1>
<h2>@dramaName</h2>

<p>フォームメーラーからダウンロードした CSV ファイルをそのままアップロードしてください。</p>

<form enctype="multipart/form-data" method="post" asp-action="CreateRange">
    <dl>
        <dt>
            CSV ファイル
        </dt>
        <dd>
            <input type="file" name="file">
        </dd>
    </dl>
    <input formmethod="post" type="submit" value="一括登録" class="btn btn-primary" />
</form>